#contentWrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#gameBoardWrapper{
  overflow: hidden;
  flex-grow: 1;
}

app-game-board{
  height: 100%;
  display: block;
}

#gameHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 200%;
}

ion-backdrop{
  opacity: 0.3;
}
