<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contentWrapper">
    <div id="gameHeader">
      <div id="timePart">Time: {{timerVal}}</div>
      <div id="numBombsPart">Number of bombs: {{numBombsLeft}}</div>
    </div>
    <div id="gameBoardWrapper" #gameBoardWrapper>
      <app-game-board *ngIf="render"
                      (gameStatusEvent)="doOnStatusUpdate($event)"
                      [val]="{squareX: 16, squareY: 16, numBombs: startingBombs, sizingRef: gameBoardWrapper}">
      </app-game-board>
    </div>
  </div>


</ion-content>
