<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-modal *ngIf="renderModal" (closeEvent)="renderModal=false" modalText="{{modalText}}"></app-modal>
  <div id="contentWrapper">
    <div id="gameHeader">
      <div id="timePart">Time: {{timerVal}}</div>
      <div id="numBombsPart">Number of bombs: {{numBombsLeft}}</div>
    </div>
    <div id="gameBoardWrapper" #gameBoardWrapper>
      <app-game-board *ngIf="render"
                      (gameStatusEvent)="doOnStatusUpdate($event)"
                      [val]="{squareX: width, squareY: height, numBombs: startingBombs, sizingRef: gameBoardWrapper}">
      </app-game-board>
    </div>
  </div>


</ion-content>
