div {
  box-sizing: border-box;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
  --coveredCol: gray;
  --revealedCol: white;
  border-radius: 0.5rem;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sq-hidden {
  background-color: var(--coveredCol);
}

.sq-empty {
  background-color: var(--revealedCol);
}

.sq-1 {
  fill: blue;
  background-color: var(--revealedCol);
}

.sq-2 {
  fill: green;
  background-color: var(--revealedCol);
}

.sq-3 {
  fill: red;
  background-color: var(--revealedCol);
}

.sq-4 {
  fill: purple;
  background-color: var(--revealedCol);
}

.sq-5 {
  fill: maroon;
  background-color: var(--revealedCol);
}

.sq-6 {
  fill: turquoise;
  background-color: var(--revealedCol);
}

.sq-7 {
  fill: black;
  background-color: var(--revealedCol);
}

.sq-8 {
  fill: grey;
  background-color: var(--revealedCol);
}

.sq-bomb {
  fill: black;
  background-color: red;
}

.sq-flagged {
  fill: black;
  background-color: var(--coveredCol);
}


