.grid-wrapper{
  height: 100%;
}


.grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.row{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

app-square{
  display: block;
}
